.general-container {
  background: linear-gradient(to right,
      #fffefe6f 50%,
      #c1bbf7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #fffefe12;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.confirm-password-container {
  width: 27rem;
}

.confirm-password-container p {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.confirm-password-container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.confirm-password-container button {
  background-color: #512da9;
  color: #fff;
  width: 100%;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;/
}

.confirm-password-container button:hover {
  transform: translateY(-5px);
  background-color: #512da9;
  /* Levanta el botón 5px hacia arriba */
}

.gif-NewPassword {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  margin-right: 50px;
  border-radius: 20rem;
}

.confirm-password-container h2 {
  margin-bottom: 20px;
  color: #343a40;
}

.confirm-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
